##file specific 
.stepbystep.md


#TF files
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.tfvars

# OS crap
.DS_Store
Thumbs.db

# Logs
*.log

# Dependency directories
node_modules/
venv/
.env/

# Build output
dist/
build/
target/

# Python cache
__pycache__/
*.pyc
